<mat-toolbar color = "primary">
  <img routerLink="/home" src="../assets/protalinmobiliario.png" alt="Logo" class="logo">
  <h1 routerLink="/home">CasApp</h1>
    <div class="botonesInicio" *ngIf="isLoggedIn()">
      <mat-icon routerLink="/profile" >account_box</mat-icon>
      <mat-icon (click)="openDialog()">power_settings_new</mat-icon>
    </div>
    <div class="botonesInicio" *ngIf="isDisconnected()">
      <button mat-raised-button color="primary" (click)="openLogin()" >Iniciar Sesión</button>
      <button mat-raised-button color="accent" (click)="openRegister()">Registrarse</button>
    </div>
</mat-toolbar>
