<mat-sidenav-container>
    <mat-sidenav [opened]="opened" mode="side" [class.close]="!opened">
        <mat-nav-list>
            <mat-list-item *ngIf="isLoggedIn()">
                <div class="item" routerLink="/map">
                    <button mat-icon-button routerLink="/map">
                        <mat-icon>
                            <span class="material-symbols-outlined" >
                                map
                            </span>
                        </mat-icon>
                    </button>
                    <a routerLink="/map" *ngIf="opened">Mapa</a>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="isUser()">
                <div class="item" routerLink="/login">
                    <button mat-icon-button routerLink="/login">
                        <mat-icon mat-list-icon>
                            <span class="material-symbols-outlined">
                                favorite
                            </span></mat-icon>
                    </button>
                    <a *ngIf="opened">Favoritos</a>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="isUser()">
                <div class="item" routerLink="/login">
                    <button mat-icon-button routerLink="/login">
                        <mat-icon mat-list-icon>
                            <span class="material-symbols-outlined">
                                compare_arrows
                                </span>
                        </mat-icon>
                    </button>
                    <a *ngIf="opened">Comparar</a>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="isInmobiliaria()">
                <div class="item" routerLink="/metricas">
                    <button mat-icon-button routerLink="/metricas">
                        <mat-icon mat-list-icon>
                            <span class="material-symbols-outlined">
                                trending_up
                                </span>
                        </mat-icon>
                    </button>
                    <a *ngIf="opened">Metricas</a>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="isAdmin()">
                <div class="item" routerLink="/admin">
                    <button mat-icon-button routerLink="/admin">
                        <mat-icon mat-list-icon>
                            <span class="material-symbols-outlined">
                                shield_person
                                </span>
                        </mat-icon>
                    </button>
                    <a *ngIf="opened">Admin Usuarios</a>
                </div>
            </mat-list-item>
            <mat-list-item *ngIf="isAdmin()">
                <div class="item" routerLink="/admin-viv">
                    <button mat-icon-button routerLink="/admin-viv">
                        <mat-icon mat-list-icon>
                            <span class="material-symbols-outlined">
                                shield_person
                                </span>
                        </mat-icon>
                    </button>
                    <a *ngIf="opened">Admin Viviendas</a>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [class.close]="!opened">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>