<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
</head>
<body>
    <h2 class="m-2">Mapa</h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            FILTROS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="filtro" class="row">
          <div class="col-2">
            <mat-form-field style="width: 100%;">
              <mat-label>Región:</mat-label>
              <mat-select [formControl]="regiones" (selectionChange)="onRegionSelectionChange($event)" [(ngModel)]="regionSeleccionada">
                <mat-option *ngFor="let region of regionesList; let i = index" [value]="region.id">{{ region.nombre_region }}</mat-option>
              </mat-select>    
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field style="width: 100%;">
              <mat-label>Comuna(s)</mat-label>
              <mat-select [(ngModel)]="filtro.comuna_id_comuna" [disabled]="selectDeshabilitado">
                <mat-option *ngFor="let comuna of comunasList" [value]="comuna.id">{{ comuna.nombre_comuna }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-1">
            <!-- Campo de entrada "Habitaciones" -->
            <label for="habitaciones" class="col-form-label text-right">Habitaciones:</label>
            <input type="number" class="form-control" style="width: 100%;" [(ngModel)]="filtro.cantidad_habitaciones" name="habitaciones" [min]="0">
          </div>
          <div class="col-1">
            <!-- Campo de entrada "Baños" -->
            <label for="banos" class="col-form-label text-right">Baños:</label>
            <input type="number" class="form-control" style="width: 100%;" [(ngModel)]="filtro.cantidad_banos" name="banos" [min]="0">
          </div>
          <div class="col-1">
            <!-- Campo de entrada "Valor Mínimo de UF" -->
            <label for="valorMinUF" class="col-form-label text-right">Valor Mínimo de UF:</label>
            <input type="number" class="form-control" [(ngModel)]="filtro.min_valor" name="valorMinUF" [min]="0">
          </div>
          <div class="col-1">
            <!-- Campo de entrada "Valor Máximo de UF" -->
            <label for ="valorMaxUF" class="col-form-label text-right">Valor Máximo de UF:</label>
            <input type="number" class="form-control" [(ngModel)]="filtro.max_valor" name="valorMaxUF" [min]="0">
          </div>
          <div class="col-1">
            <!-- Botón "Guardar Filtro" al lado derecho del campo "Habitaciones" -->
            <button class="btn btn-primary" style="width: 80%;"(click)="guardarFiltro()">Guardar</button>
          </div>
          <div class="col-1">
            <!-- Botón "Guardar Filtro" al lado derecho del campo "Habitaciones" -->
            <button class="btn btn-dark" style="width: 80%;"(click)="borrarFiltro()">Limpiar</button>
          </div>
          <div class="col-2">
            <!-- Botón "Guardar" al lado derecho del campo "Baños" -->
            <button class="btn btn-success" style="width: 80%;"(click)="mapearViviendas()">Buscar</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
      
      <div>
          <input type="text" #inputPlaces id="inputPlaces" formControlName="busqueda">
          <div class="form panel">
              <div>
                  <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
              </div>
          </div>
          <div class="row">
            <div class="col-9">
                <div class="mapa" #divMap style="width: 100%; height: 800px;"></div>
            </div>
            <div class="col-3">
              <div style="text-align: center;">
                <h1>Viviendas</h1>
              </div>
              <div class="card-container" style="width: 150%;">
                <div class="card" *ngFor="let vivienda of viviendasList">
                  <img class="card-img-top" src="{{vivienda.url_imagen}}" alt="Card image cap">
                  <div class="card-body">
                    <h2 class="card-title">{{ vivienda.direccion }}</h2>
                    <h3 class="card-text">{{ vivienda.comuna.nombre_comuna}}</h3>
                    <p class="card-text">{{ vivienda.cantidad_habitaciones }} Habitaciones</p>
                    <p class="card-text">{{ vivienda.cantidad_banos }} Baños</p>
                  </div>
                  <div style="margin-left:10%; margin-bottom: 2%;">
                    <a type="button" id="{{vivienda.id}}">
                      <img src="../assets/not-fav.png" alt="Imagen" width="20" height="20">
                    </a>           
                    <button  style="margin-left: 55%;" class="btn btn-dark" [routerLink]="['/vivienda', vivienda.id]">Ver Más</button>
                    <button style="margin-left: 10px;" class="btn btn-primary" (click)="compararVivienda(vivienda)">Comparar</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
</body>
</html>