<mat-card class="big-card">
  <h1>Bienvenido a CasApp</h1>
  <h2>Aqui tenemos algunas viviendas destacadas!</h2>
  <div class="card-container" style="width: auto;">
    <div class="card" *ngFor="let vivienda of viviendasList.slice(0,3)">
      <img class="card-img-top" src="{{vivienda.url_imagen}}" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{ vivienda.direccion }}</h2>
        <h3 class="card-text">{{ vivienda.comuna.nombre_comuna}}</h3>
        <p class="card-text">{{ vivienda.cantidad_habitaciones }} Habitaciones</p>
        <p class="card-text">{{ vivienda.cantidad_banos }} Baños</p>
      </div>
      <div style="margin-left:10%; margin-bottom: 2%;">
        <div class="botonesCard" *ngIf="isDisconnected()">
          <a type="button" id="{{vivienda.id}}">
          </a>
          <button style="margin-left: 55%;" class="btn btn-dark" [routerLink]="['/login']">Ver
            Más</button>
        </div>
        <div class="botonesCard" *ngIf="isLoggedIn()">
          <a type="button" id="{{vivienda.id}}">
          </a>
          <button style="margin-left: 55%;" class="btn btn-dark" [routerLink]="['/vivienda', vivienda.id]">Ver
            Más</button>
        </div>
      </div>
    </div>
    
