.wrapper {
    display: flex;
    background-color: blanchedalmond;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.example-form{
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    flex-direction: column;
    max-width: 650px;
  }

.register-btn{
    margin-top: 5%;
}