<div [ngClass]="{'sidebar': true, 'hidden': !isSidebarVisible}">
  <div class="sidebar-content" style="overflow-y: auto; height: 150vh;">
    <div style="margin-top: 5%;">
      <h2>Comparar Viviendas</h2>
    </div>

    <!-- Tarjeta para vivienda1 o texto si no hay vivienda1 -->
    <div *ngIf="vivienda1; else textoVivienda1" class="card-container" style="width: 150%; height:20%; margin-top: 1%;">
      <div class="card">
        <img src="{{vivienda1.url_imagen}}" height="100px" width="200px" alt="Card image cap" style="margin-left: 10%;">
        <h3 style="margin-right: 30%;">{{ vivienda1.direccion }}</h3>
        <p style="margin-right: 30%;">{{ vivienda1.comuna.nombre_comuna}}</p>
        <p style="margin-right: 30%;">{{ vivienda1.valor_uf }} UF</p>
        <button class="btn btn-danger" style="margin-right: 30%;" (click)="quitarVivienda1()">Quitar vivienda</button>
      </div>
    </div>
    <ng-template #textoVivienda1>
      <div class="text-container" style="margin-top: 75%;">
        <p>Añadir vivienda para comparar</p>
      </div>
    </ng-template>

    <hr style="margin: 20px 0; width: 100%;">

    <!-- Tarjeta para vivienda2 o texto si no hay vivienda2 -->
    <div *ngIf="vivienda2; else textoVivienda2" class="card-container" style="width: 150%; margin-top: 25%;">
      <div class="card">
        <img src="{{vivienda2.url_imagen}}" height="100px" width="200px" alt="Card image cap" style="margin-left: 10%;">
        <h3 style="margin-right: 30%;">{{ vivienda2.direccion }}</h3>
        <p style="margin-right: 30%;"> {{ vivienda2.comuna.nombre_comuna}}</p>
        <p style="margin-right: 30%;">{{ vivienda2.valor_uf }} UF</p>
        <button class="btn btn-danger"style="margin-right: 30%;" (click)="quitarVivienda2()">Quitar vivienda</button>
      </div>
    </div>
    <ng-template #textoVivienda2>
      <div class="text-container" style="margin-top: 45%;">
        <p>Añadir vivienda para comparar</p>
      </div>
    </ng-template>
    <button class="btn btn-dark m-2" (click)="compararViviendas(vivienda1, vivienda2)"> Ir a Comparar</button>
  </div>
</div>

<button (click)="toggleSidebar()" class="toggle-button">
  <mat-icon mat-list-icon>
    <span class="material-symbols-outlined">compare_arrows</span>
  </mat-icon>
</button>
