/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

  /* Logo styles */
  .logo {
    max-width: 85px;
    max-height: 80px;
  }

  .ico-user {
    max-width: 30px;
    max-height: 30px;
    align-self: center;
    margin-left:auto;
  }
  .ico-config {
    max-width: 30px;
    max-height: 30px;
    align-self: center;
    padding-right: 2%;
  }
  h1 {
    align-self: center;
  }

  /* Sobrescribe el color del mat-toolbar */
mat-toolbar[color="primary"] {
  background-color: var(--primary);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
