<mat-card class="big-card" >
    <h1>Bienvenido a CasApp</h1>
    <h2>Aqui tenemos algunas viviendas destacadas!</h2>
<div class="vivienda-card" >
    <div class="vivienda-image">
      <img src="../assets/casa1.webp" alt="Imagen de la vivienda" class="casa-img" />
    </div>
    <mat-card class="vivienda-info"       >
      <mat-card-content>
        <h2>Estancia Santa Cruz</h2>
        <p>Dirección: Bajos De Santa Cruz 1131, Padre Hurtado, RM (Metropolitana)</p>
        <p>Precio: UF 2.890</p>
        <div class="contenedor-botones-tarjeta">
        <button mat-icon-button>
        <mat-icon mat-list-icon>
            <span class="material-symbols-outlined">
                favorite
            </span></mat-icon>
        </button> 
        <button mat-raised-button color="primary" class="boton-ver">Ver</button> 
    </div>
      </mat-card-content>
    </mat-card>
</div>
</mat-card>
  